

body {margin: 1;  padding: 1; font-family: 'Sawarabi Gothic',  sans-serif; }
p{margin: 10px;}

h1{color:rgb(177, 117, 27); font-size: 200px; }

h2{font-size: 50px;
   text-align: right;
}



.container{
      text-align: center;
}

.linkarea{
    text-align: right;
}